{% extends 'main.html' %}
{% block content %}

    {% if page == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" placeholder="Enter username" name="username" />
            
            <label>Password</label>
            <input type="password" placeholder="Enter password" name="password" />
            
            <button type="submit" value="Submit">Login</button>
        </form>

        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Signup</a>
    </div>

    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Submit">Register</button>
        </form>

        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
{% endblock %}